<div id="categories_page">

  <form action='/categories' method='GET'>

    <label class="category_page">
      <span>Select a Category:</span>
      <select name="idea[category]">
        <%= partial :'partials/category', collection: @categories %>
      </select>
    </label>

    <label>
      <label>
        <input class="button" type='submit'/>
      </label>
    </label>

  </form>

  <section id="idea_list">
    <% @list_ideas.each do |category, ideas| %>
    <h2><%= category %></h2>
    <ul>
      <% ideas.each do |idea| %>
      <li>
        <%= idea.title %>
        <br/>
        <%= idea.description %>
      </li>
      <% end  %>
    </ul>
    <% end %>
  </section>

</div>
