<div id="container">

<section id="enter_ideas">
  <form action='/<%= idea.id %>' method='POST'>
    <h2>
      <% if idea.id %>
        Edit your Idea:
      <% else %>
        Your Idea:
      <% end %>
    </h2>

    <% if idea.id %>
      <input type="hidden" name="_method" value="PUT" />
    <% end %>

    <label class="idea_title">
      <span>Idea Title:</span>
      <input type='text' name='idea[title]' value="<%= idea.title %>"/><br/>
    </label>

    <label class="idea_description">
      <span>Idea Description:</span>
      <textarea name='idea[description]'><%= idea.description %></textarea><br/>
    </label>

    <label class="category_selector">
      <span>Category:</span>
      <select id="drop-menu" name="idea[category]">
        <%= partial :'partials/edit_category', collection: @categories %>
      </select>
    </label>

    <label>
      <input class="button" type='submit' />
    </label>

  </form>
</section> <!-- end enter_ideas -->
</div> <!-- end container -->
