<div id="container">
  <section id="enter_ideas">
    <form action='/' method='POST'>
      <h2>New Ideas</h2>

      <label class="idea_title">
        <span>Idea Title:</span>
        <input id="new_title" type='text' name='idea[title]'/><br/>
      </label>

      <label class="idea_description">
        <span>Idea Description:</span>
        <textarea name='idea[description]'></textarea><br/>
      </label>

      <label class="category_selector">
        <span>Category:</span>
        <select name="idea[category]">
          <%= partial :'partials/category', collection: @categories %>
        </select>
      </label>

      <label>
        <input class="button" type='submit'/>
      </label>

    </form>
  </section> <!-- end of enter_ideas -->

  <section id="idea_list">
    <h2>Existing Ideas</h2>
    <ul>
      <%= partial :'partials/list_idea', collection: @list_ideas %>
    </ul>
  </section> <!-- end idea_list-->

</div> <!-- end container -->
